# Scratch files.
pad.md

# Training files
*.pth.tar
/raw-generations/
*.hdf5
dataset/server/plugins/BuildLogger/schematics-json-preprocessed/
dataset/server/plugins/BuildLogger/schematics-json-generated/

# Node files
/node_modules
**/node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Python files
windowsvenv/
windowsvenv-3.10/
*.zip
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
env/
venv/
ENV/
env.bak/
.venv
.env
.pyenv
.pipenv
.pytest_cache/

# Java files
*.class
*.ctxt
*.jar
*.war
*.ear
*.nar
*.kar
*.ds_store
*.ser
*.load
.mtj.tmp/
*.tmp
*.bak
*.swp
*.vspscc
*.vssscc
.idea/
*.iml
*.ipr
*.iws
*.suo
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
target/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
*.cache
*.config
*.sublime-project
*.sublime-workspace
.DS_Store